.SearchTextField {
    margin-bottom: 20px;
}

.SearchButton {
}

.SearchBarContainer {
    margin-top: 250px
}

.SearchBarContainerReduced {
    margin-top: 50px
}

.SearchBarReducedIcon {
    margin-right: 8px;
    margin-top: 12px;
}

.SearchBarReducedTextField {
    margin-left: 5px;
}
